{% extends 'bootstrap.tmpl' %}
{% load staticfiles %}

{% block title %}Horcrux{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'horcrux/css/main.css' %}?via=html">
{% endblock %}

{% block content %}
    <div class="container-fluid">

      <h2 id="title">Horcruxes</h2>

      <section class="panel panel-shrink">
        <div class="panel-heading">
          <h3>The Password{% if plural %}s{% endif %}</h3>
        </div>
        <div class="panel-body">
          {% if error %}
            <h4>Error</h4>
            <p>{{ error }}</p>
          {% else %}
            <p>Success! Here
              {% if plural %}
                are the passwords.
              {% else %}
                is the password.
              {% endif %}
              Make sure to include spaces!
            </p>
          {% endif %}
          {% if secrets.lastpass %}
            <section class="password lastpass">
              <h4>Lastpass</h4>
              <div class="secret">
                <code>{{ secrets.lastpass }}</code>
              </div>
              <div class="instructions">
                <p>My Lastpass username is {{ secrets.lastpass_email }}. You can log in at <a href="https://lastpass.com" target="_blank">lastpass.com</a>.</p>
                <p>If it prompts you to enter values from a "grid", that's a second factor authentication method you can read about <a href="https://helpdesk.lastpass.com/multifactor-authentication-options/grid-multifactor-authentication/" target="_blank">here</a>. You'll need my grid, which is stored in the Veracrypt file.</p>
                <p>The passwords to almost all my accounts should be in Lastpass. But getting into some accounts requires something in addition to Lastpass:</p>
                <p>For some important ones like banks, you need to add something extra to the password stored in Lastpass. The way to do that is explained in the Veracrypt file. You should be able to tell when this is required because the site's Lastpass entry will be in the "lastpass + extra" folder.</p>
                <p>Some accounts require 2-factor authentication. The second factor is often a text message sent to my phone. By the way, my phone PIN is stored in LastPass in a "Secure Note". But sometimes the second factor is a code from the Google Authenticator app (Download for <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_US" target="_blank">Android</a> or <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank">iPhone</a>). For some accounts, you should be able to set up Google Authenticator to give you the code by scanning a barcode I've saved in the Veracrypt file. The barcode should be an image file named by website. Just tap the red plus in the app, then scan the barcode.</p>
                <p>Detailed information on all my accounts, plus other things like computer logins and encrypted files and hard drives, are in <a href="{{ secrets.accounts_link }}" target="_blank">this text file</a>.</p>
              </div>
            </section>
          {% endif %}
          {% if secrets.veracrypt %}
            <section class="password veracrypt">
              <h4>Veracrypt</h4>
              <div class="secret">
                <code>{{ secrets.veracrypt }}</code>
              </div>
              <div class="instructions">
                <p>You can get the Veracrypt file <a href="/static/media/master.hc" target="_blank">here</a>.</p>
                <p>To open it, you'll need to install Veracrypt from <a href="https://www.veracrypt.fr/en/Downloads.html" target="_blank">here</a>.</p>
                <p>You can find instructions on using Veracrypt to open the file <a href="https://www.veracrypt.fr/en/Beginner%27s%20Tutorial.html" target="_blank">here</a>, starting at step 13. Don't worry about the "PRF algorithm" in step 18. Just leave it on "Autodetection".</p>
                <p>This contains all passwords of mine that aren't stored in Lastpass, plus some extra info.</p>
              </div>
            </section>
          {% endif %}
          <nav class="footer">
            <a class="btn btn-default" href="{% url 'horcrux:main' %}">Restart</a>
          </nav>
        </div>
      </section>

    </div>
{% endblock content %}
